<ion-header >
  <ion-navbar color="medcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
    <ion-title>Trash List</ion-title>
  </ion-navbar>
</ion-header>
      
      <ion-content >
          
         
          
        <ion-item style="widows: 10%; height:20%; background-color: rgb(223, 204, 182); border-bottom-color: black ;">
          <ion-searchbar  [(ngModel)]="terms"></ion-searchbar>
         
        </ion-item>
          <ion-list >
          <ion-item *ngFor="let item of items  | search : terms | sort: {property: column, order: order}"  style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
              
             <div><h1 style="font-size: 1em;">Trash Address :     {{item.trash_address}}</h1></div> 
             <div><h1 style="font-size: 1em;">Trash Capacity :     {{item.trash_capacity}}</h1></div> 
             <div><h1 style="font-size: 1em;">Trash ID :     {{item.trash_id}}</h1></div> 
            
             
             <div>
                

                
                
                <button *ngIf="master" ion-button round full style="font-size:120%;" color="medcolor2" (click)="delete(item._id)">Delete</button>
                
            </div>
            <div>
              <button ion-button round full style="font-size:120%; " (click)="gettrashinfos(item)" color="medcolor" >Status</button>
            </div>
            <div><button ion-button round full style="font-size:120%;" color="medcolor2" (click)="gotomap(item)">Go To Map</button></div>
          </ion-item>
      </ion-list>
    
    
      </ion-content>
      <ion-footer >
          <ion-toolbar color="medcolor" >
              
            
          </ion-toolbar>
      </ion-footer>