<ion-header>
  <ion-navbar color="medcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <h1>Log In Page</h1>
  </ion-navbar>
</ion-header>
  
  
<ion-content padding>
   
    <ion-list>
      <ion-item style="widows: 25%; height:25%; background-color: beige; border-bottom-color: black ;">
        <ion-label fixed>Email</ion-label>
        <ion-input type="text" value="" [(ngModel)]="data.email"></ion-input>
      </ion-item>
  
      <ion-item style="widows: 25%; height:25%; background-color: beige; border-bottom-color: black ;">
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" [(ngModel)]="data.password"></ion-input>
      </ion-item>
  
  
      <ion-item style="widows: 25%; height:25%; background-color: beige; border-bottom-color: black ;">
    <div padding>
       <button ion-button color="medcolor1"  block (click)="signin()" [disabled]="!checkLoginDisable()" >Log In</button>
    </div>
  </ion-item>
  <ion-item style="widows: 25%; height:25%; background-color: beige; border-bottom-color: black ;">
      <div padding>
         <button ion-button color="medcolor2" block (click)="signup()"  >Sign up</button>
      </div>
    </ion-item>

    </ion-list>
</ion-content>






<ion-footer >
      <ion-toolbar color="medcolor" >
          
      </ion-toolbar>
</ion-footer>