page-home {
    .card-background-page {
     
      #rounded {
        width: 100%;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;  
    }

    
h2 {
  margin-top:-2% !important;
  margin-left:2% !important;
  font-weight:bold;
  font-size:1.3em;
  
}
h3 {
  margin-top:-2% !important;
  margin-left:4.5% !important;
  font-weight:bold;
  font-size:1.3em;
  
}
h4 {
margin-top:-2% !important;
margin-left:-17% !important;
font-weight:bold;
font-size:1.3em;

}
h5 {
  margin-top:-2% !important;
  margin-left:-7% !important;
  font-weight:bold;
  font-size:1.3em;
  
  }
  h6 {
  margin-top:-6.5% !important;
  margin-left:55% !important;
  font-weight:bold;
  font-size:1.3em;
  
}

      ion-label{
        color: black;
        font-size: 2em;

     
   }
        ion-card {
           
         
          text-align: center;
       
          .input1{

            border: tan;
            position: relative;
        
            left: 0px;
            top: 135px;
            background-color: transparent;


          }

        .icon-check1{


          font-size: 450% ;
          color:red;

          position: absolute;
         
          right:10%;
        }
        .icon-check2{


          font-size: 450%  ;
          

          position: absolute;
          right:7%;
          color:green;
        }
        .icon-check3{


          font-size: 450% ;
          color:gray;

          position: absolute;
         
          right:7%;
        }
          

        .card-title {
          position: absolute;
          left:-17%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color:brown;
        }
      
        
        .card-title1 {
            position: absolute;
            left:-11%;
            font-size: 1.8em;
            width: 100%;
            font-weight: bold;
            color:brown;
          }
      
        .card-subtitle1 {
          font-size: 1.0em;
          position: absolute;
          
          left:35%;
          width: 100%;
          color: black;
        }
        .card-subtitle2 {
          margin-left: 2%;
          font-size: 1.0em;
          position: absolute;
          right: 38.5%;
          
          width: 100%;
          color:black;
        }
        .card-subtitle3 {
          font-size: 1.0em;
          position: absolute;
          right: 39.5%;
       
          width: 100%;
          color:black;
        }
        .card-subtitle4 {
          font-size: 1.0em;
          position: absolute;
          right: 38%;
      
          width: 100%;
          color: black;
        }
        .card-subtitle5 {
          font-size: 1.0em;
          position: absolute;
          right: 18%;
       
          width: 100%;
          color: black;
        }
        .card-subtitle6 {
          font-size: 1.5em;
          position: absolute;
          left:-15%;
       
          width: 100%;
          color:black;
        }
        .card-subtitle7 {
          font-size: 1.5em;
          position: absolute;
          left:-11.5%;
       
          width: 100%;
          color: black;
        }
        .card-subtitle8 {
          font-size: 1.5em;
          position: absolute;
          left:-11.5%;
       
          width: 100%;
          color: black;
        }


        
      
      }


     
    
}}
