<ion-header >
  <ion-navbar color="medcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" >
    <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
        
       
        
        <div  style=" left:15%; font-size: 1em; color:brown;"><h1>Test Info</h1></div>
        <div><h1 style="font-size: 0.6em;">Robot ID : {{robot_id}}</h1></div>
        <div><h1 style="font-size: 0.6em;">Test type : {{test_type}}</h1></div>
        <div><h1 style="font-size: 0.6em;">SSID : {{ssid}}</h1></div>
        <div><h1 style="font-size: 0.6em;">Test Version : {{test_version}}</h1></div>
        <div><h1 style="font-size: 0.6em;" *ngIf="!visited12">Test Delay : {{hours}}h:{{min}}m:{{timeLeft}}s </h1></div>
        <div><h1 style="font-size: 0.6em;" *ngIf="visited12">Test Delay : {{dayf}}h:{{hoursf}}m:{{minf}}s  </h1></div>

        <button ion-button round full type="button"   (click)="manualRefresh()" color="medcolor">Refresh Page</button>
       
      
      
         
       </ion-item>
       <ion-item >


          <img style="widows: 500px; height:380px; object-fit: cover" src="assets/imgs/Image1.png"  #myImage (click)="presentImage(myImage)">
       </ion-item>

  
    <ion-item style="widows: 20%; height:20%; background-color: beige; border-bottom-color: black ;">
  
  
        <ion-card classe="card1">
       
        
        <div style="top: 4%; position: absolute; left:-11%; font-size: 1.8em; width: 100%; font-weight: bold; color:brown;">Curent position</div>
        <div class="card-subtitle8" style=" top: 50%;" *ngIf="!visited1">You didn't start this test</div>
        <div class="card-subtitle8" style=" top: 50%;" *ngIf="visited1">{{current_pos}}</div>
        <ion-icon style= "font-size: 230% ;  color:gray;  position: absolute; right:90%; top:2%;   "  name="pin" ></ion-icon>

      
      
         </ion-card>
       </ion-item>
      
  <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
    <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 1</h1></div>
    <div *ngIf="rssi1"><h1 style="font-size: 0.6em;">RSSI : {{rssi1}}</h1></div>
    <div  *ngIf="r1"><h1 style="font-size: 0.6em;">B.R : {{r1}} Mb/s</h1></div>
    <div  *ngIf="f1"><h1 style="font-size: 0.6em;">Freq : {{f1}} Ghz</h1></div>
    <div *ngIf="a1"><h1 style="font-size: 0.6em;">  Connected to : {{a1}}</h1></div>
    
    <div  *ngIf="!visited1"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
    
    
   

    <div *ngIf="visited1"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
    <div *ngIf="visited1"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
    <div *ngIf="!visited1"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
    <div *ngIf="!visited1"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
    
  
  
   </ion-item>
  
     <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
        <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 2</h1></div>
        <div *ngIf="rssi2"><h1 style="font-size: 0.6em;">RSSI : {{rssi2}}</h1></div>
        <div  *ngIf="r2"><h1 style="font-size: 0.6em;">B.R : {{r2}} Mb/s</h1></div>
        <div  *ngIf="f2"><h1 style="font-size: 0.6em;">Freq : {{f2}} Ghz</h1></div>
        <div *ngIf="a2"><h1 style="font-size: 0.6em;">  Connected to : {{a2}}</h1></div>
        
        <div  *ngIf="!visited2"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
        
        
       
    
        <div *ngIf="visited2"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
        <div *ngIf="visited2"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
        <div *ngIf="!visited2"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
        <div *ngIf="!visited2"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
        
      
      
       </ion-item>
       <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
          <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 3</h1></div>
          <div *ngIf="rssi3"><h1 style="font-size: 0.6em;">RSSI : {{rssi3}}</h1></div>
          <div  *ngIf="r3"><h1 style="font-size: 0.6em;">B.R : {{r3}} Mb/s</h1></div>
          <div  *ngIf="f3"><h1 style="font-size: 0.6em;">Freq : {{f3}} Ghz</h1></div>
          <div *ngIf="a3"><h1 style="font-size: 0.6em;">  Connected to : {{a3}}</h1></div>
          
          <div  *ngIf="!visited3"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
          
          
         
      
          <div *ngIf="visited3"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
          <div *ngIf="visited3"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
          <div *ngIf="!visited3"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
          <div *ngIf="!visited3"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
          
        
        
         </ion-item>
         <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
            <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 4</h1></div>
            <div *ngIf="rssi4"><h1 style="font-size: 0.6em;">RSSI : {{rssi4}}</h1></div>
            <div  *ngIf="r4"><h1 style="font-size: 0.6em;">B.R : {{r4}} Mb/s</h1></div>
            <div  *ngIf="f4"><h1 style="font-size: 0.6em;">Freq : {{f4}} Ghz</h1></div>
            <div *ngIf="a4"><h1 style="font-size: 0.6em;">  Connected to : {{a4}}</h1></div>
            
            <div  *ngIf="!visited4"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
            
            
           
        
            <div *ngIf="visited4"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
            <div *ngIf="visited4"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
            <div *ngIf="!visited4"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
            <div *ngIf="!visited4"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
            
          
          
           </ion-item>
           <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
              <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 5</h1></div>
              <div *ngIf="rssi5"><h1 style="font-size: 0.6em;">RSSI : {{rssi5}}</h1></div>
              <div  *ngIf="r5"><h1 style="font-size: 0.6em;">B.R : {{r5}} Mb/s</h1></div>
              <div  *ngIf="f5"><h1 style="font-size: 0.6em;">Freq : {{f5}} Ghz</h1></div>
              <div *ngIf="a5"><h1 style="font-size: 0.6em;">  Connected to : {{a5}}</h1></div>
              
              <div  *ngIf="!visited5"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
              
              
             
          
              <div *ngIf="visited5"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
              <div *ngIf="visited5"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
              <div *ngIf="!visited5"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
              <div *ngIf="!visited5"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
              
            
            
             </ion-item>
             <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
                <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 6</h1></div>
                <div *ngIf="rssi6"><h1 style="font-size: 0.6em;">RSSI : {{rssi6}}</h1></div>
                <div  *ngIf="r6"><h1 style="font-size: 0.6em;">B.R : {{r6}} Mb/s</h1></div>
                <div  *ngIf="f6"><h1 style="font-size: 0.6em;">Freq : {{f6}} Ghz</h1></div>
                <div *ngIf="a6"><h1 style="font-size: 0.6em;">  Connected to : {{a6}}</h1></div>
                
                <div  *ngIf="!visited6"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
                
                
               
            
                <div *ngIf="visited6"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
                <div *ngIf="visited6"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
                <div *ngIf="!visited6"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
                <div *ngIf="!visited6"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
                
              
              
               </ion-item>
               <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
                  <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 7</h1></div>
                  <div *ngIf="rssi7"><h1 style="font-size: 0.6em;">RSSI : {{rssi7}}</h1></div>
                  <div  *ngIf="r7"><h1 style="font-size: 0.6em;">B.R : {{r7}} Mb/s</h1></div>
                  <div  *ngIf="f7"><h1 style="font-size: 0.6em;">Freq : {{f7}} Ghz</h1></div>
                  <div *ngIf="a7"><h1 style="font-size: 0.6em;">  Connected to : {{a7}}</h1></div>
                  
                  <div  *ngIf="!visited7"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
                  
                  
                 
              
                  <div *ngIf="visited7"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
                  <div *ngIf="visited7"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
                  <div *ngIf="!visited7"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
                  <div *ngIf="!visited7"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
                  
                
                
                 </ion-item>
                 <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
                    <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 8</h1></div>
                    <div *ngIf="rssi8"><h1 style="font-size: 0.6em;">RSSI : {{rssi8}}</h1></div>
                    <div  *ngIf="r8"><h1 style="font-size: 0.6em;">B.R : {{r8}} Mb/s</h1></div>
                    <div  *ngIf="f8"><h1 style="font-size: 0.6em;">Freq : {{f8}} Ghz</h1></div>
                    <div *ngIf="a8"><h1 style="font-size: 0.6em;">  Connected to : {{a8}}</h1></div>
                    
                    <div  *ngIf="!visited8"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
                    
                    
                   
                
                    <div *ngIf="visited8"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
                    <div *ngIf="visited8"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
                    <div *ngIf="!visited8"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
                    <div *ngIf="!visited8"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
                    
                  
                  
                   </ion-item>
                   <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
                      <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 9</h1></div>
                      <div *ngIf="rssi9"><h1 style="font-size: 0.6em;">RSSI : {{rssi9}}</h1></div>
                      <div  *ngIf="r9"><h1 style="font-size: 0.6em;">B.R : {{r9}} Mb/s</h1></div>
                      <div  *ngIf="f9"><h1 style="font-size: 0.6em;">Freq : {{f9}} Ghz</h1></div>
                      <div *ngIf="a9"><h1 style="font-size: 0.6em;">  Connected to : {{a9}}</h1></div>
                      
                      <div  *ngIf="!visited9"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
                      
                      
                     
                  
                      <div *ngIf="visited9"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
                      <div *ngIf="visited9"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
                      <div *ngIf="!visited9"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
                      <div *ngIf="!visited9"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
                      
                    
                    
                     </ion-item>
                     <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
                        <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 10</h1></div>
                        <div *ngIf="rssi10"><h1 style="font-size: 0.6em;">RSSI : {{rssi10}}</h1></div>
                        <div  *ngIf="r10"><h1 style="font-size: 0.6em;">B.R : {{r10}} Mb/s</h1></div>
                        <div  *ngIf="f10"><h1 style="font-size: 0.6em;">Freq : {{f10}} Ghz</h1></div>
                        <div *ngIf="a10"><h1 style="font-size: 0.6em;">  Connected to : {{a10}}</h1></div>
                        
                        <div  *ngIf="!visited10"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
                        
                        
                       
                    
                        <div *ngIf="visited10"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
                        <div *ngIf="visited10"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
                        <div *ngIf="!visited10"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
                        <div *ngIf="!visited10"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
                        
                      
                      
                       </ion-item>
                       <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
                          <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 11</h1></div>
                          <div *ngIf="rssi11"><h1 style="font-size: 0.6em;">RSSI : {{rssi11}}</h1></div>
                          <div  *ngIf="r11"><h1 style="font-size: 0.6em;">B.R : {{r11}} Mb/s</h1></div>
                          <div  *ngIf="f11"><h1 style="font-size: 0.6em;">Freq : {{f11}} Ghz</h1></div>
                          <div *ngIf="a11"><h1 style="font-size: 0.6em;">  Connected to : {{a11}}</h1></div>
                          
                          <div  *ngIf="!visited11"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
                          
                          
                         
                      
                          <div *ngIf="visited11"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
                          <div *ngIf="visited11"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
                          <div *ngIf="!visited11"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
                          <div *ngIf="!visited11"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
                          
                        
                        
                         </ion-item>
                         <ion-item style="widows: 40%; height:40%; background-color: beige; border-bottom-color: black ;">
  
  
  
   
    
                            <div  style="position: absolute; top : 5%; left:15%; font-size: 1em; color:brown;" ><h1 >Position 12</h1></div>
                            <div *ngIf="rssi12"><h1 style="font-size: 0.6em;">RSSI : {{rssi12}}</h1></div>
                            <div  *ngIf="r12"><h1 style="font-size: 0.6em;">B.R : {{r12}} Mb/s</h1></div>
                            <div  *ngIf="f12"><h1 style="font-size: 0.6em;">Freq : {{f12}} Ghz</h1></div>
                            <div *ngIf="a12"><h1 style="font-size: 0.6em;">  Connected to : {{a12}}</h1></div>
                            
                            <div  *ngIf="!visited12"><h1 style=" position: absolute; font-size: 0.6em; top : 30%; left : 30%">Waiting for connection....</h1></div>
                            
                            
                           
                        
                            <div *ngIf="visited12"><ion-icon  name="checkmark" style="position: absolute; color: green ; right: 63%"  ></ion-icon></div>
                            <div *ngIf="visited12"><h1 style="position: absolute; color: green ; right: 40% ; margin-top: 1%" >Visited</h1></div>
                            <div *ngIf="!visited12"><ion-icon  name="close" style="position: absolute; color: red ; right: 75% ; bottom: 4%"  ></ion-icon></div>
                            <div *ngIf="!visited12"><h1 style="position: absolute; color: red ; right: 30% ;  bottom: 5% ;" >Not yet visited</h1></div>
                            
                          
                          
                         </ion-item>
                                                                                                                                      
   
</ion-content>

<ion-footer >
    <ion-toolbar color="medcolor" >
        
        <img  src="assets/imgs/sagem.png" >
    </ion-toolbar>
</ion-footer>