page-trashslist {
    ion-footer{
    .title{

       
            position: absolute;
            left:-5%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color:black;
  
    }
}

}
